# vim: sw=4:ts=4:et
#
# Copyright 2013 Red Hat, Inc.
#
# This program and entire repository is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the License,
# or any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see http://www.gnu.org/licenses/.
#

policy_module(katello, @@VERSION@@)

#######################################
#
# Declarations
#

## <desc>
## <p>
## Determine whether passenger can connect to HTTP(s) proxy (Squid)
## </p>
## </desc>
gen_tunable(passenger_can_connect_http_proxy, true)

#######################################
#
# Declarations
#

require{
    type passenger_t;
    type websockify_t;
    type httpd_t;
}

# https://bugzilla.redhat.com/show_bug.cgi?id=1716971
# Can be removed in RHEL 8.4 timeframe
optional_policy(`
    rpm_manage_cache(rhsmcertd_t)
')

# https://bugzilla.redhat.com/show_bug.cgi?id=1716973
# Can be removed in RHEL 8.4 timeframe
files_mmap_usr_files(qpidd_t)
fs_getattr_all_fs(qpidd_t)

######################################
#
# Katello plugin
#

# Allow FFI library callbacks - see RM#26520 for more info
allow passenger_t self:process execmem;

# katello does connect to AMQP service
corenet_tcp_connect_amqp_port(passenger_t)

# Katello uses certs in /etc/pki/katello for websockets
miscfiles_read_certs(websockify_t)

# Katello can be configured to connect to Squid
optional_policy(`
    tunable_policy(`passenger_can_connect_http_proxy', `
        corenet_tcp_connect_squid_port(passenger_t)
        corenet_tcp_connect_http_cache_port(passenger_t)
    ')
')

# Katello can be configured to read from pulp's published dir
optional_policy(`
    apache_manage_sys_content(passenger_t)
    apache_manage_sys_content_rw(passenger_t)
')

# Installation generates load denial
require {
  type load_policy_t;
}
userdom_write_inherited_user_tmp_files(load_policy_t)


######################################
#
# Pulp
#

# Katello installer configures crane to listen on port 5000 with alternate 5001
corenet_tcp_bind_commplex_main_port(httpd_t)
corenet_tcp_bind_commplex_link_port(httpd_t)
