# vim: sw=4:ts=4:et
#
# Copyright 2013 Red Hat, Inc.
#
# This program and entire repository is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the License,
# or any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see http://www.gnu.org/licenses/.
#

policy_module(katello, @@VERSION@@)

#######################################
#
# Declarations
#

#######################################
#
# Declarations
#

require{
    type foreman_rails_t;
    type passenger_t;
    type websockify_t;
    type httpd_t;
    type candlepin_activemq_port_t;
    type tomcat_t;
    class tcp_socket name_connect;
}

type katello_candlepin_port_t;
corenet_port(katello_candlepin_port_t)

######################################
#
# Katello plugin
#

# Connections to Candlepin
allow foreman_rails_t katello_candlepin_port_t:tcp_socket name_connect;

# Allow to bind to Candlepin
allow tomcat_t katello_candlepin_port_t:tcp_socket name_bind;

# Candlepin Event Listener connects to Artemis
allow foreman_rails_t candlepin_activemq_port_t:tcp_socket name_connect;

# Katello uses certs in /etc/pki/katello for websockets
miscfiles_read_certs(websockify_t)

# Katello can be configured to read from pulp's published dir
optional_policy(`
    apache_manage_sys_content(foreman_rails_t)
    apache_manage_sys_content_rw(foreman_rails_t)
')

# Installation generates load denial
require {
  type load_policy_t;
}
userdom_write_inherited_user_tmp_files(load_policy_t)

######################################
#
# Katello plugin - passenger rules
# (to be removed in 2.2 or later)
#

# <REMOVE>
allow passenger_t self:process execmem;
allow passenger_t candlepin_activemq_port_t:tcp_socket name_connect;
corenet_tcp_connect_squid_port(passenger_t)
corenet_tcp_connect_http_cache_port(passenger_t)
optional_policy(`
    apache_manage_sys_content(passenger_t)
    apache_manage_sys_content_rw(passenger_t)
')
# </REMOVE>

######################################
#
# Pulp
#

# Katello installer configures crane to listen on port 5000 with alternate 5001
corenet_tcp_bind_commplex_main_port(httpd_t)
corenet_tcp_bind_commplex_link_port(httpd_t)
