# vim: sw=4:ts=4:et
#
# Copyright 2013 Red Hat, Inc.
#
# This program and entire repository is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the License,
# or any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see http://www.gnu.org/licenses/.
#

policy_module(katello, @@VERSION@@)

#######################################
#
# Declarations
#

## <desc>
## <p>
## Determine whether passenger can connect to HTTP(s) proxy (Squid)
## </p>
## </desc>
gen_tunable(passenger_can_connect_http_proxy, true)

#######################################
#
# Declarations
#

require{
    type passenger_t;
    type websockify_t;
    type httpd_t;
}

######################################
#
# Katello plugin
#

# System status (ping) controller checks for service status using sysvinit scripts
# This is temporary solution until https://bugzilla.redhat.com/show_bug.cgi?id=1105085
# is fixed.
init_exec_script_files(passenger_t)

ifndef(`distro_rhel7', `
    consoletype_exec(passenger_t)
')

# katello does connect to AMQP service
corenet_tcp_connect_amqp_port(passenger_t)

# Katello uses certs in /etc/pki/katello for websockets
miscfiles_read_certs(websockify_t)

# Katello connects to AMQP service
corenet_tcp_connect_amqp_port(passenger_t)

# Katello can be configured to connect to Squid
optional_policy(`
    tunable_policy(`passenger_can_connect_http_proxy', `
        corenet_tcp_connect_squid_port(passenger_t)
        corenet_tcp_connect_http_cache_port(passenger_t)
    ')
')


######################################
#
# Pulp
#

# Katello installer configures Celery to listen on port 5000
ifdef(`distro_rhel6', `
    corenet_tcp_bind_commplex_port(httpd_t)
',`
    corenet_tcp_bind_commplex_main_port(httpd_t)
')
