name: Build policies
on:
  - pull_request
  - push
jobs:
  centos:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        centos:
          - "7"
          - "stream8"
          - "stream9"
    container:
      image: quay.io/centos/centos:${{ matrix.centos }}
    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: yum install -y selinux-policy-devel policycoreutils bzip2 perl-podlators

      - name: Build policies
        run: make all

      - name: Check syntax of shell scripts
        run: bash -n *-relabel *-enable *-disable
